.techfont{
	font-family: 'Inconsolata', monospace;
	font-size: 1.5em;
	margin-bottom: 10px;
}

.bigbrand{
	font-size: 1.5em;
}

.centerstage{
	margin: auto;
}

.postdate{
	text-align: center;
}

.posttitle{
	font-family: 'Inconsolata', monospace;
	text-align: center;
}

.postcontent{
	font-size: 1.5em;
}

.btn-comment{
	position: absolute;
	right: 0px; 
}