<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>Blog</title>
	<!-- BOOTSTRAP -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

	<!-- MEDIUM STYLE EDITOR -->
	 <script src="//cdn.jsdelivr.net/medium-editor/latest/js/medium-editor.min.js"></script>
        <link rel="stylesheet" href="//cdn.jsdelivr.net/medium-editor/latest/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">

     <!-- CUSTOM CSS -->
     <link rel="stylesheet" type="text/css" href="{% static 'css/blog.css' %}">

    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&family=Orbitron:wght@500&family=Playfair+Display:wght@900&display=swap" rel="stylesheet">

 </head>
<body>

	<nav class="navbar navbar-expand-lg bg-light techfont">
		<div class="container">
			<ul class="navbar-nav">
				<li><a href="{% url 'post_list' %}" class="navbar-brand bigbrand">BLOG</a></li>
				
				<li><a class="nav-link" href="{% url 'about' %}">About</a></li>
				
				<li><a class="nav-link" href="https://www.github.com">GITHUB</a></li>
				
				<li><a class="nav-link" href="https://www.linkedin.com">LINKEDIN</a></li>

			</ul>

			<ul class="navbar-nav ml-auto">
				{% if user.is_authenticated %}

				<li><a class="nav-link" href="{% url 'post_new' %}">NEW POST</a></li>

				<li><a class="nav-link" href="{% url 'post_draft_list' %}">DRAFTS</a></li>

				<li><a class="nav-link" href="{% url 'logout' %}">LOGOUT</a></li>

				<li class="nav-link"> Welcome: {{ user.username }}</li>

				{% else %}
					<li><a class="nav-link" href="{% url 'login' %}">LOGIN</a></li>

				{% endif %}
			</ul>
		</div>
	</nav>

	<div class="content container">
		<div class="row">
			<div class="col-md-8">
				<div class="blog_posts">
					{% block content %}

					{% endblock %}
				</div>
	
			</div>
		</div>
	</div>

</body>
</html>